<div class="container">
  <div class="row">
    <div class="col text-center ">
      <img src="img/me.jpg" alt="Me" class="img-thumbnail rounded" width="200" >
      <h1 class="display-4">Muhammad Azwar Anas</h1>
      <p class="lead">Software Engineers</p>
    </div>
  </div>
</div>